.about--content{
    font-family: 'Inter', sans-serif;
    font-family: 'Libre Baskerville', serif;
    margin: 75px auto;
    background-color: #29416E;
    border: 3px solid #D9C241;
    height: 650px;
    width: 1100px;
    color:#D9C241;
    text-shadow: 0 0 5px black ;
    padding: 0px 40px;
}

.about--title{
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}

.about--text{
    font-size: 22px;
}
a{
    color: #D9C241;
}
a:hover{
    color: #D9C241;
}

a:visited{
    color: #D9C241;
}