body {
    margin: 0;
    background-color: #0B2434;
    font-family: 'Karla', sans-serif;

}

main {
    margin: 75px 10px 10px 25%;
    background-color: #F5F5F5;
    height: 650px;
    width: 1100px;
    max-width: 1300px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main h3{
    margin: 0;
    font-size: 32px;
}

.main--answers{
    display:flex;
    gap: 20px;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
}

.main--question{
    font-size: 1.5rem;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
}

.question--selected{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap:20px;
    cursor: pointer;
}