body {
    margin: 0;
    background-color: #0B2434;
    font-family: 'Karla', sans-serif;

}

main {
    margin: 75px 10px 10px 25%;
    background-color: #F5F5F5;
    height: 500px;
    max-width: 800px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main h3{
    margin: 0;
    font-size: 32px;
}