body {
    margin: 0;
    background-color: #0B2434;
    font-family: 'Karla', sans-serif;

}

main {
    margin: 75px 10px 10px 25%;
    background-color: #F5F5F5;
    height: 650px;
    width: 1100px;
    max-width: 1300px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main h3{
    margin: 0;
    font-size: 32px;
}

.main--answers{
    display:flex;
    gap: 20px;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
}

.main--question{
    font-size: 1.5rem;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
}

.question--selected{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    gap:20px;
    cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .main--toggleSwitch{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

  }

  /* toggle switch end */

  .main--previousQuestion{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .main--previousAnswer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }