* {
  box-sizing: border-box;
}

nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2.98256px 7.4564px rgba(205, 250, 250, 0.2);
  background-color: #091428;
}
li {
  display: inline;
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  margin-right: 10px;
  width: auto;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  display: block;
  padding: 8px;

}
.navMenu a:visited {
  color: #f6f4e6;
}
.navMenu a:hover {
  color: #C89B3C;
}

.donationBtn{
  position: relative;
  right: 10px;
  cursor: pointer;
  float:right;
}


